@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height: auto;
  
}
body {
  width: 100%;
  height: 100%;
  background-image: url(images/galmor-survey-bavkground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  
}
#form-container {
  background-color: #EADDCA;
  width: 600px;
  min-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-top: 15%;
}
#survey-form{
  padding: 30px;
  min-width: 400px;
}
#title {
  text-align: center;
}
#description {
  text-align: center;
}
.form-input {
  padding: 10px;
}
.input-box {
  width: 60%;
  height: 30px;
  border-radius: 10px;
  border: none;
}
.input-box:focus {
  border-color: rgb(211, 132, 158);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(211, 132, 158);
}
#number {
  width: 10%;
}
#dropdown {
  background-color: white;
  color: gray;
  border-color: blanchedalmond;
}
option {
  color: black;
}
#submit-container {
  text-align: right;
}
#submit {
  text-align: right;
  border: none;
  border-radius: 10px;
  font-size: large;
}
#submit:hover {
  
  box-shadow: 0 0 0 0.2rem rgb(211, 132, 158);
}



  